html{
    border: 2px solid lightcoral;
     outline-style: solid;
}
.main-header {
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
}
.selection-btn{
    height: 32px;
    border: none;
    border-radius: 8px;
}
.bisque-color{
    background-color: bisque;
}
.aqua-color{
    background-color: white;
}
.content-en{
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    text-align: center;
    background-color: lightsalmon;
}
.luas-segitiga-content{
    display: flex;
    flex-direction: column;
    
}
.luas-segitiga-img{
    height: 300px;
    width: 300px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdQhSEOawQA8RPxE7kMvoDE9K4IKCZv_UFXw&s);
    background-size: cover;
    background-position: center;
    align-self: center;
}

.btn-hitung > button{
    width: 70px;
    height: 70px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    margin-left: 47%;
    
}
.btn-reset > button{
    width: 50spx;
    height: 40px;
    border-radius: 8px;
    background-color: orangered;
    color: white;
    margin-left: 92%;
}
.side{
    display: flex;
    flex-wrap: wrap;
}
.side > aside{
    flex: 1;
    
}

.loas{
    text-align: center;
}
.loas > input{
    background-color: lightcyan;
    border-radius: 8px;
    width: 60px;
    height: 50px;
}
.kel{
    text-align: center;
}
.kel > input{
    background-color: lightcyan;
    border-radius: 8px;
    width: 60px;
    height: 50px;
}
.btn-reset-luas{
    text-align: right;
}
.btn-reset-luas > input{
    background-color: lightcoral;
    color: white;
    border-radius: 8px;
    width: 60px;
    height: 50px;
}
.btn-reset-kel{
    text-align: right;
}
.btn-reset-kel > input{
    background-color: lightcoral;
    color: white;
    border-radius: 8px;
    width: 60px;
    height: 50px;
}